{{ $ := .root }}
{{ $page := .page }}
{{ $posts_len := len (where (where $.Data.Pages "Type" "post") ".Params.notonhomepage" nil) }}

<!-- Blog Posts widget -->
<div class="row">
  <div class="col-xs-12 col-md-4 section-heading">

    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
    {{ if gt $posts_len $page.Params.count }}
    <p class="view-all">
      <a href="{{ $page.Params.see_more_link | relURL }}">
        {{ i18n "more_posts" | markdownify }}
        <i class="fa fa-angle-double-right"></i>
      </a>
    </p>
    {{ end }}
  </div>
  </div class="row">

    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}

    {{ if $page.Params.category }}
      {{ range $i, $p := first $page.Params.count (where (where (where $.Data.Pages "Type" "post") ".Params.categories" "intersect" $page.Params.category) ".Params.notonhomepage" nil) }}
        <div class="col-md-3 col-sm-6 col-xs-12">
        {{ $params := dict "post" $p "page" $page }}
        {{ partial "post_li" $params }}
        <!--</div>
        {{ if eq (mod (add $i 1) 2) 0 }}<div class="col-sm-12">jkfdshfhdf</div>{{ end }}-->
      {{ end }}
    {{ else }}
      {{ range $i, $p := first $page.Params.count (where (where $.Data.Pages "Type" "post") ".Params.notonhomepage" nil) }}
        <div class="col-md-3 col-sm-6 col-xs-12">
        {{ $params := dict "post" $p "page" $page }}
        {{ partial "post_li" $params }}
        </div>
        <!--{{ if eq (mod (add $i 1) 2) 0 }}<div class="col-sm-12">jjdsflkdjlfakds</div>{{ end }}-->
      {{ end }}
    {{ end }}
  </div>
  <!-- {{ partial "disqus.html" . }} -->
</div>


