{{ $ := .root }}
{{ $page := .page }}
{{ $posts_len := len (where (where $.Site.RegularPages "Type" "post") ".Params.notonhomepage" nil) }}

<!-- Blog Posts widget -->
<div class="blog-list">
<div class="row">
  <div class="col-xs-12 col-md-12 section-heading">
    <div class="home-section-logo" > <i class="far fa-newspaper fa-3x"> </i> </div>
    <h1>
      {{ with $page.Title }}{{ . | markdownify }}{{ end }}
    </h1>
      {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}


  
  </div>

  </div class="row">
    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}

    {{ if $page.Params.category }}
      {{ range $i, $p := first $page.Params.count (where (where (where $.Site.RegularPages "Type" "post") ".Params.categories" "intersect" $page.Params.category) ".Params.notonhomepage" nil) }}
        <div class="col-md-4 col-sm-4 col-xs-12">
        {{ $params := dict "post" $p "page" $page }}
        {{ partial "post_li" $params }}
      {{ end }}
    {{ else }}
      {{ range $i, $p := first $page.Params.count (where (where $.Site.RegularPages "Type" "post") ".Params.notonhomepage" nil) }}
        <div class="col-md-4 col-sm-4 col-xs-12">
        {{ $params := dict "post" $p "page" $page }}
        {{ partial "post_li" $params }}
        </div>
      {{ end }}
    {{ end }}
  </div>
  <a class="view-all" href="{{ $page.Params.see_more_link | relURL }}">
      Show All
      <i class="fa fa-plus-square"></i>
    </a>

</div>

</div>


