{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="universal-wrapper">
  <div class="row">
  <div class="col-md-8">
    <header class="p-page-title">
      <h1 class="title">{{ .Title }}</h1>
    </header>


  {{ $paginator := .Paginate .Data.Pages }}
  {{ range $paginator.Pages }}
  
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <div class="article-style">
      {{ if .Params.summary }}
      {{ printf "%s" .Params.summary | markdownify }}
      {{ else if .Truncated }}
      {{ printf "%s" .Summary | markdownify }}
      {{ end }}
    </div>
  </div>
  {{ end }}

  {{ partial "pagination" . }}
  
  <div class="col-md-4">
    {{ partial "sidebar.html" . }}
  </div>
  </div>
  </div class = "row">
    </div class ="col-md-12">
    {{ partial "footer_container.html" . }}
    {{ partial "footer.html" . }}
    </div>
  </div>
</div>


