<aside class="sitebar">

  <section>
    <header>Latests</header>
    <div>
      <ul class="p-terms">
        {{ range $i, $p := (first 2 (where .Site.Pages "Type" "post") )}}
        <li>{{ .Render "li_sm" }}</li>
        {{ end }}
      </ul>
    </div>
  </section>

  {{ range $key, $value := .Site.Taxonomies }}
  <section>
    <header>{{ $key | humanize }}</header>
    <div>
      <ul class="p-terms">
        {{ range first 10 $value.ByCount }}
        <li><a href="{{ $.Site.BaseURL}}{{ $key }}/{{ .Name | urlize }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </div>
  </section>
  {{ end }}

  <section>
    <header>Projects</header>
      <div>  
        <ul class="p-terms">
          {{ range $i, $p := (where .Site.Pages "Section" "project") }}  
          <li><a href="{{ $p.Permalink }}">{{ $p.Title }}</a></li>
          {{ end }}
        </ul>
      </div>
  </section>
  

</aside>
