{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="home-section">
  <div class="container-allpost">
    <div class = "row">
      <div class="col-md-8 col-xs-12 section-heading">
        <h1>{{ .Title | default "Posts" }}</h1>
          
        {{ with .Content }}
        <div class="article-style" itemprop="articleBody">{{ . }}</div>
        {{ end }}      

        {{ $paginator := .Paginate .Data.Pages }}
      {{ range $i, $page := $paginator.Pages }}
          <!-- <div class="col-md-12 col-sm-12 col-xs-12"> -->
          {{ $params := dict "post" $page }}
          {{ partial "post_li" $params }}
          <!-- </div>             -->
      {{ end }}

      {{ partial "pagination" . }}
    </div>
    <div class="col-md-4 col-xs-12">
      {{ partial "sidebar.html" . }}
    </div>
  </div>
</div>
<div class = "row">
  <div class ="col-md-12">
    {{ partial "footer_container.html" . }}
    {{ partial "footer.html" . }}
  </div>
</div>

</div>

